body {
  background-color: lightsteelblue;
  font-family: Verdana, Tahoma, sans-serif, sans-serif;
  height: 100%;
  margin: 0;
}

h1 {
  font-family: "Merienda", cursive, sans-serif;
  text-align: center;
  font-size: 35px;
  margin: 25px 0 8px 0;
}

h3 {
    text-align: center;
}

img {
  opacity: 0.75;
  border-radius: 25px;
}

section h3 {
  padding-bottom: 20px;
}

button {
  margin: 10px auto 50px auto;
}

figure {
    display: flex;
    justify-content: center;
}

hr {
    margin: 0 8px 0 8px;
}

.projects > div {
    color: white;
    font-size: 24px;
}

.nav-img {
  display: flex;
}

.resize {
  width: 220px;
  height: auto;
}

a:link {
  text-decoration: none;
  color: antiquewhite;
}

a:hover {
  text-decoration: none;
  color: lightcyan;
  font-size: 20.37px;
}

a:visited {
  color: antiquewhite;
}

a:visited:hover {
  color: lightcyan;
}

.navigation {
  color: navy;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 5px auto 8px;
}

.navigation:hover {
  display: flex;
}

.nav-padding {
  padding: 16px;
}

#brand-statement {
  margin-top: 30px;
  height: 200px;
  text-align: center;
}

#why-me,
#say-hello {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 16px 0 16px 0;
}

.form-row {
  justify-content: space-evenly;
  height: 60px;
}

.message {
  flex-wrap: wrap;
  width: 100%;
}

.contact-link p {
  padding: 12px;
  color: antiquewhite;
}

.name {
    padding: 8px;
}

.main-container {
    display: flex;
    justify-content: center;
    min-height: 100%;
    margin-bottom: -50px;
}

.content {
    width: 80%;
    border: 1px solid black;
    border-radius: 5px;
}

.footer,
.push {
  height: 400px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-title-1 {
    background: url(../images/benjamin-voros-phIFdC6lA4E-unsplash.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-title-2 {
    background: url(../images/manki-kim-L82-kkEBOd0-unsplash.jpg);
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-title-3 {
    background: url(../images/paul-vincent-roll-c61jL_NpAn8-unsplash.jpg);
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-title-2,
.project-title-3 {
    /* width: 50%;     */
}

.row-1 {
    width: 100%;
    padding: 8px;
}

.row-2 {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
}